.card {
  animation: unfocus 0.3s;
}

.card:hover {
  animation: focus 0.3s forwards;
}

@keyframes focus {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.01);
  }
}

@keyframes unfocus {
  100% {
    transform: scale(1);
  }

  0% {
    transform: scale(1.01);
  }
}
