.greetings {
  background-color: #f8edeb;
  backdrop-filter: blur(20px);
  border-radius: 10px;
  border: 0px;
  padding: 2px;
  text-align: center;
}

@media screen and (max-width: 850px) {
  .cardFlex {
    flex-direction: column;
    align-items: center;
  }
}
