.nav {
  position: fixed;
  width: 100%;
  background-color: rgb(248, 237, 235, 0.55);
  backdrop-filter: blur(5px);
  color: black;
  font-size: 24px;
  font-weight: 300;
  display: flex;
  justify-content: center;
  user-select: none;
  z-index: 1;
}

.letter {
  padding: 0px 2px 2px 2px;
  font-size: 32px;
}

.phonenav {
  display: none;
}

.letter:hover {
  transform: rotate(10deg) scale(1.1);
}

.p:hover {
  color: #480ca8;
}
.e:hover {
  color: #3a0ca3;
}
.i:hover {
  color: #3f37c9;
}
.m:hover {
  color: #4361ee;
}
.n:hover {
  color: #4895ef;
}
.dot:hover {
  color: #4cc9f0;
}

.navLink:hover {
  background-color: rgba(254, 197, 187, 0.459);
  border-radius: 10px;
}

.normalBox {
  display: flex;
}

.menuItem {
  margin: 0px !important;
}

.menuItem:hover {
  background-color: rgba(255, 255, 255, 0.459);
  border: 2px;
  border-color: rgb(202, 153, 111);
}

@media screen and (max-width: 850px) {
  .nav {
    justify-content: space-between;
    padding: 0px 40px 0px 40px;
  }
  .normalBox {
    display: none;
  }
  .phonenav {
    display: flex;
  }
}
